<div class="search-result-item">
  <div class="left">
    <%= link_to flickr_image_path(image.id), title: image.title do %>
      <%= image_tag image.url(:thumb), alt: image.title %>
    <% end %>
  </div>
  <div class="right">
    <%= link_to flickr_image_path(image.id), title: image.title do %>
      <%= image.title %>
    <% end %>
  </div>
</div>
